/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/*____________ section indenting ____________*/

.dokuwiki.page  h1 {margin-left: __level1__;}
.dokuwiki.page  h2 {margin-left: __level2__;}
.dokuwiki.page  h3 {margin-left: __level3__;}
.dokuwiki.page  h4 {margin-left: __level4__;}
.dokuwiki.page  h5 {margin-left: __level5__;}
.dokuwiki.page  div.level1 {margin-left: __level1__;}
.dokuwiki.page  div.level2 {margin-left: __level2__;}
.dokuwiki.page  div.level3 {margin-left: __level3__;}
.dokuwiki.page  div.level4 {margin-left: __level4__;}
.dokuwiki.page  div.level5 {margin-left: __level5__;}

[dir=rtl] .dokuwiki .page h1 {margin-left: 0; margin-right: __level1__;}
[dir=rtl] .dokuwiki .page h2 {margin-left: 0; margin-right: __level2__;}
[dir=rtl] .dokuwiki .page h3 {margin-left: 0; margin-right: __level3__;}
[dir=rtl] .dokuwiki .page h4 {margin-left: 0; margin-right: __level4__;}
[dir=rtl] .dokuwiki .page h5 {margin-left: 0; margin-right: __level5__;}
[dir=rtl] .dokuwiki .page div.level1 {margin-left: 0; margin-right: __level1__;}
[dir=rtl] .dokuwiki .page div.level2 {margin-left: 0; margin-right: __level2__;}
[dir=rtl] .dokuwiki .page div.level3 {margin-left: 0; margin-right: __level3__;}
[dir=rtl] .dokuwiki .page div.level4 {margin-left: 0; margin-right: __level4__;}
[dir=rtl] .dokuwiki .page div.level5 {margin-left: 0; margin-right: __level5__;}


/*____________ links to wiki pages (addition to _links) ____________*/

/* existing wikipage */
.dokuwiki a.wikilink1 {
    color: __existing__;
    background-color: inherit;
}
/* not existing wikipage */
.dokuwiki a.wikilink2 {
    color: __missing__;
    background-color: inherit;
}


/*____________ images ____________*/

/* embedded images (styles are already partly set in DokuWiki's lib/styles/all.css) */
.dokuwiki img.media {
    margin: .2em 0;
}
.dokuwiki img.medialeft {
    margin: .2em 1.5em .2em 0;
}
.dokuwiki img.mediaright {
    margin: .2em 0 .2em 1.5em;
}
.dokuwiki img.mediacenter {
    margin: .2em auto;
}


/*____________ tables ____________*/

.dokuwiki table.inline {
    min-width: 50%;
    border: 1px solid __border__;
}
.dokuwiki table.inline th,
.dokuwiki table.inline td {
    border: 1px solid __border__;
}
.dokuwiki table.inline th {
    background-color: __background__;
    color: __text_alt__;
}
.dokuwiki table.inline td {
}


/*____________ code ____________*/

.dokuwiki pre,
.dokuwiki tt,
.dokuwiki code,
.dokuwiki samp,
.dokuwiki kbd {
}
/* fix if background-color hides underlining */
.dokuwiki em.u code {
    text-decoration: underline;
}
.dokuwiki pre {
}
/* for code in <file> */
.dokuwiki pre.file {
}

/* filenames for downloadable file and code blocks */
.dokuwiki dl.code,
.dokuwiki dl.file {
}

.dokuwiki dl.code dt,
.dokuwiki dl.file dt {
    background-color: __background_neu__;
    border: dashed __border__;
    border-width: 1px 1px 0;
    color: inherit;
    display: inline;
    padding: 0 .5em;
    margin-left: 1em;
}
[dir=rtl] .dokuwiki dl.code dt,
[dir=rtl] .dokuwiki dl.file dt {
    margin-left: 0;
    margin-right: 1em;
}
.dokuwiki dl.code dt a,
.dokuwiki dl.file dt a {
}

.dokuwiki dl.code dd,
.dokuwiki dl.file dd {
    margin: 0;
}


/*____________ quotes ____________*/

.dokuwiki blockquote {
    border: solid #606;
    border-width: 0 0 0 2px;
    padding: 0 0 0 0.5em;
    margin-bottom: 1em;
}
.dokuwiki blockquote blockquote {
    border-color: #066;/*900*/
}
.dokuwiki blockquote blockquote blockquote {
    border-color: #900;/*f00*/
}
.dokuwiki blockquote blockquote blockquote blockquote {
    border-color: #009;/*999*/
}
.dokuwiki blockquote blockquote blockquote blockquote blockquote {
    border-color: #c60;/*fff,ccc*/
}

[dir=rtl] .dokuwiki blockquote {
    border-width: 0 2px 0 0;
    padding: 0 0.5em 0 0;
}
