/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */

html.popup,
html.popup body {
    background-color: __background_alt__;
    color: __text__;
}

/* header
********************************************************************/

#dokuwiki__header {
    border-bottom: 1px solid __border_alt__;
    margin-bottom: 10px;
}

#dokuwiki__header h1 {
    font-size: 2em;
    float: left;
    width:30%;
    margin-bottom: 0;
    clear: none;
    letter-spacing: normal;
    font-variant: normal;
    border-bottom-width: 0;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: __link_title__;
    background-color: inherit;
}

#dokuwiki__header h2 {
    margin-bottom: 0;
    font-size: 2em;
    float: right;
    width:68%;
    text-align: right;
    color:__text_alt__;
    background-color: inherit;
    clear: none;
    letter-spacing: normal;
    border-bottom-width: 0;
}

#dokuwiki__header div.breadcrumbs {
    padding: 0 1px;
    clear: both;
    border-top:1px solid __border_alt__;
    font-size: 75%;
    background-color: __background_alt__;
    color: __text__;
}
#dokuwiki__header div.breadcrumbs a {
    color: __link_existent__;
}


/* tools
********************************************************************/

/* make wiki links look the same as tool links in tool bars */
#dokuwiki__usertools a.wikilink1,
#dokuwiki__pagetools a.wikilink1,
#dokuwiki__usertools a.wikilink2,
#dokuwiki__pagetools a.wikilink2 {
    color: __link_normal__;
    border-bottom-width: 0;
}
#dokuwiki__usertools a.wikilink2:hover,
#dokuwiki__pagetools a.wikilink2:hover,
#dokuwiki__usertools a.wikilink2:active,
#dokuwiki__pagetools a.wikilink2:active,
#dokuwiki__usertools a.wikilink2:focus,
#dokuwiki__pagetools a.wikilink2:focus {
    text-decoration: underline;
}

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

/*____________ page tools ____________*/

#dokuwiki__pagetools {
    margin: 0 0 10px __sidebar_width__;
}
#dokuwiki__pagetools ul {
    padding: 0;
    margin: 0;
}
#dokuwiki__pagetools ul li {
    display: inline;
    margin: 0;
    padding: 0 5px 0 0;
}
#dokuwiki__pagetools input {
    padding: 0.2em 1.0em;
    line-height: 1.25;
}
#IE6 #dokuwiki__pagetools input,
#IE7 #dokuwiki__pagetools input {
    padding: 0;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
    line-height: 1.2;
    margin-bottom: 10px;
}
#dokuwiki__aside > .pad {
    background-color: __background_alt__;
    color: __text__;
    border: 1px solid __border_alt__;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

/* make sidebar more condensed */

#dokuwiki__aside h1 { margin-bottom: .222em; }
#dokuwiki__aside h2 { margin-bottom: .333em; }
#dokuwiki__aside h3 { margin-bottom: .444em; }
#dokuwiki__aside h4 { margin-bottom: .5em; }
#dokuwiki__aside h5 { margin-bottom: .5714em; }

#dokuwiki__aside p, #dokuwiki__aside ul, #dokuwiki__aside ol, #dokuwiki__aside dl,
#dokuwiki__aside pre, #dokuwiki__aside table, #dokuwiki__aside fieldset,
#dokuwiki__aside hr, #dokuwiki__aside blockquote, #dokuwiki__aside address {
    margin-bottom: .7em;
}

#dokuwiki__aside ul, #dokuwiki__aside ol {
    padding-left: 0;
}
#dokuwiki__aside li ul, #dokuwiki__aside li ol {
    margin-bottom: 0;
}

/*____________ site + user tools ____________*/

#dokuwiki__sitetools,
#dokuwiki__usertools {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px dotted __border__;
}
#dokuwiki__sitetools ul,
#dokuwiki__usertools ul {
    margin: 0 0 1em;
}
#dokuwiki__sitetools ul li,
#dokuwiki__usertools ul li {
    padding: 0;
    margin: 0 0 .3em 0;
    list-style: none;
}

#dokuwiki__usertools div.user {
    font-style: italic;
}

/* forms (search + login) */
#dokuwiki__aside form {
}
#dokuwiki__aside fieldset {
    padding: 0;
    border-width: 0;
    width: auto;
}
#dokuwiki__aside label {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: normal;
}
#dokuwiki__aside input {
    width: 100%;
    margin: .1em 0;
    padding: 0;
    line-height: 1.25;
}

#dokuwiki__usertools div.level1 {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
}
#dokuwiki__usertools h1 {
    font-size: 1.1em;
    margin-bottom: 1em;
    color: __text__;
    font-variant: normal;
    letter-spacing: normal;
    border-bottom-width: 0;
}
#dw__login {
    text-align: left;
}
#dw__login br {
    display: none;
}
#dokuwiki__usertools legend {
    display: none;
}
#remember__me {
    margin: 0;
    padding: 0;
    width: auto;
}


/* content
********************************************************************/

.dokuwiki .wrapper {
    background:url(images/logo.png) no-repeat 25px 0;
}

.dokuwiki .page {
    padding: 10px;
    background-color: __background_alt__;
    color: __text__;
    border: 1px solid __border_alt__;
    word-wrap: break-word;
}

/*____________ misc ____________*/

/* license note in footer and under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}

#IE6 .dokuwiki input.button, #IE6 .dokuwiki button,
#IE7 .dokuwiki input.button, #IE7 .dokuwiki button {
    line-height: 1.4;
}

#mediamanager__page .panelContent li dl {
    padding: 0;
}
#mediamanager__diff th {
    background-color: __background_alt__;
}

.dokuwiki div.section_highlight {
    margin: 0;
    padding: 0;
    border-width: 0;
}
.dokuwiki .section_highlight {
    background-color: __background_alt__;
}

.dokuwiki div.toolbar button.toolbutton {
    margin-right: .3em;
}
div.picker {
    border-color: __border_alt__;
    background-color: __background_neu__;
}
div.picker button.pickerbutton {
    background-color: __background_neu__;
    color: __text__;
}

div.insitu-footnote {
    padding: .2em;
    border: 1px solid #000;
    background-color: #ffc;
}
.dokuwiki div.footnotes {
    font-size: 85%;
}
.dokuwiki div.footnotes div.fn {
    padding-bottom: .3em;
}

.dokuwiki div.search_quickresult {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid __border__;
}
.dokuwiki div.search_quickresult ul li {
    display: inline;
    float: none;
    width: auto;
    margin-left: 0;
}

.dokuwiki div.search_result div.search_snippet,
.dokuwiki dl.search_results dd {
    margin-left: 1em;
}


.dokuwiki form.search div.ajax_qsearch {
    position: static;
    width: auto;
}


.dokuwiki ul.tabs li strong,
.dokuwiki ul.tabs li a {
    background-color: __background_alt__;
}

#mediamanager__page .namespaces h2,
.dokuwiki ul.tabs li a:hover,
.dokuwiki ul.tabs li a:active,
.dokuwiki ul.tabs li a:focus,
.dokuwiki ul.tabs li strong {
    background-color: __background_neu__;
}

#link__wiz_result {
    background-color: __background_alt__;
}


#media__manager h1,
#media__manager h2 {
    font-size: 1.5em;
    margin: -.5em -.5em .5em -.5em;
    padding: .5em;
    border-bottom: 1px solid __border_alt__;
    background-color: __background__;
    color: __text_alt__;
    letter-spacing: 0;
    font-variant: normal;
}

#media__content .odd {
    background-color: __background_neu__;
}

#mediamanager__page .panelHeader {
    background-color: __background_neu__;
}

/*____________ img detail ____________*/

#dokuwiki__detail h1 {
    font-size: 1.58em;
    padding: .5em 10px;
    margin: 0;
    border-bottom: 1px solid __border_alt__;
    background-color: __background__;
    color: __text_alt__;
    letter-spacing: 0;
    font-variant: normal;
}

#dokuwiki__detail div.content {
    background-color: __background_alt__;
    color: __text__;
    padding: 10px;
}

#dokuwiki__detail div.content div.img_detail {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid __border__;
}

#dokuwiki__detail div.img_detail h2 {
    font-size: 1.39em;
}

#dokuwiki__detail p.back {
    padding: 0.5em 1.0em;
    border-top: 1px solid __border_alt__;
    background-color: __background__;
    color: __text_alt__;
}
#dokuwiki__detail p.back a {
    color: __link_title__;
    background-color: inherit;
}

/*____________ toc ____________*/

.dokuwiki div.toc,
#dw__toc {
    width: 175px;
}

.dokuwiki div.tocheader, /* old */
#dw__toc h3 /* new */ {
    margin-bottom: .2em;
    background-color: __toc_head_background__;
    color: __toc_head_text__;
    border: 1px solid __toc_head_border__;
}

/* css arrow */
.dokuwiki .toc span.toc_open,
.dokuwiki .toc span.toc_close,
#dw__toc h3 strong {
    border: .4em solid __toc_head_background__;
}
.dokuwiki .toc span.toc_open span,
.dokuwiki .toc span.toc_close span,
#dw__toc h3 strong span {
    display: none;
}

.dokuwiki .toc span.toc_open,
#dw__toc h3.closed strong {
    margin-top: .4em;
    border-top: .4em solid __text__;
}
.dokuwiki .toc span.toc_close,
#dw__toc h3.open strong {
    margin-top: 0;
    border-bottom: .4em solid __text__;
}

.dokuwiki #toc__inside,
#dw__toc > div {
    background-color: __toc_body_background__;
    color: __text__;
    border: 1px solid __toc_body_border__;
}


/*____________ JS popup ____________*/

.JSpopup {
    padding: .5em;
    background-color: __background_neu__;
    color: __text__;
    border: 1px solid __border_alt__;
    line-height: 1.2;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}


/* footer
********************************************************************/

#dokuwiki__footer {
    font-size: 75%;
    margin-bottom: 5px;
    background-color: __background_alt__;
    color: __text__;
    border-top: 1px solid __border_alt__;
    border-bottom: 1px solid __border_alt__;
    padding: 0 1px;
}
#IE6 #dokuwiki__footer,
#IE7 #dokuwiki__footer {
    height: 1%;
}
#dokuwiki__footer .doc {
    float: left;
    font-style: italic;
}
#dokuwiki__footer .top {
    float: right;
}
.dokuwiki .license_footer {
    margin-bottom: 10px;
}
.dokuwiki .license_footer a {
    color: __link_title__;
}
.dokuwiki .license_footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

